*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 512px;
    height: 512px;
    background: url(gfx/clouds.png);
    background-size: cover;
    overflow: hidden;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#pinkie {
    position: absolute;
    width: 140px;
    height: 126px;
    top: 276px;
    left: 64px;
    background: url(gfx/pie-dash.gif);
}

#pinkie.jumping {
    background: url(gfx/pie-jump.gif) !important;
}

#pinkie.gameover {
    background: url(gfx/pie-oops.gif) !important;
}

.ground {
    position: absolute;
    width: 3840px;
    height: 256px;
    top: 384px;
    left: -128px;
    background: url(gfx/map.png);
}

.hater {
    position: absolute;
    width: 150px;
    height: 113px;
    left: -512px;
    background: url(gfx/trollface.gif);
}

.coin {
    position: absolute;
    width: 128px;
    height: 128px;
    left: -512px;
    background: url(gfx/coin.gif);
}

#timer {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 5px solid #222;
    opacity: 0.9;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
    background-color: #444;
    color: #fff;
    padding: 10px;
}

#face {
    width: 70px;
    height: 70px;
    position: absolute;
    right: -5px;
    top: 20px;
}

/*
LENNE
*/

#face.Lenne {
    background: url('gfx/lenne.png') no-repeat 0 0 / contain;
}

.jumping #face.Lenne {
    top: 0;
    right: 0;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

.gameover #face.Lenne {
    top: 10px;
    right: 10px;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

/*
NORDIN
*/


#face.Nordin {
    background: url('gfx/lenne.png') no-repeat 0 0 / contain;
}

.jumping #face.Nordin {
    top: 0;
    right: 0;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

.gameover #face.Nordin {
    top: 10px;
    right: 10px;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

/*
DAVY
*/

#face.Davy {
    background: url('gfx/lenne.png') no-repeat 0 0 / contain;
}

.jumping #face.Davy {
    top: 0;
    right: 0;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

.gameover #face.Davy {
    top: 10px;
    right: 10px;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

/*
CHARACTER SELECTION
*/

.column-3 {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.overlay {
    opacity: 0.9;
    z-index: 1;
}

.overlay-lg {
    width: 70%;
    max-width: 1200px;
    height: 70%;
    min-height: 600px;
}

.overlay-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hidden {
    display: none;
}

.character-selection-title {
    text-align: center;
    color: #fff;
    margin: 20px 0 40px;
}

.character {
    background-color: #444;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    border: 5px solid #222;
}

.character:hover {
    border: 5px solid yellow;
}

.character-title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

.character-image {
    width: 60%;
    display: block;
    margin: auto;
}

.skill-name {
    text-transform: uppercase;
    color: #fff;
    margin-top: 30px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 12px;
}

.skill-meter {
    width: 100% !important;
    margin: 10px 0 20px 0 !important;
}

/*
PROGRESS BARS
http://red-team-design.com/stylish-css3-progress-bars/
*/


/*---------------------------*/

.progress-bar {
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 70px 0 20px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: inline-block;
    height: 100%;
    background-color: #777;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

/*---------------------------*/

.blue span {
    background-color: #34c2e3;
}

.orange span {
    background-color: #fecf23;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fecf23), to(#fd9215));
    background-image: -webkit-linear-gradient(top, #fecf23, #fd9215);
    background-image: -moz-linear-gradient(top, #fecf23, #fd9215);
    background-image: -ms-linear-gradient(top, #fecf23, #fd9215);
    background-image: -o-linear-gradient(top, #fecf23, #fd9215);
    background-image: linear-gradient(top, #fecf23, #fd9215);
}

.green span {
    background-color: #a5df41;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5df41), to(#4ca916));
    background-image: -webkit-linear-gradient(top, #a5df41, #4ca916);
    background-image: -moz-linear-gradient(top, #a5df41, #4ca916);
    background-image: -ms-linear-gradient(top, #a5df41, #4ca916);
    background-image: -o-linear-gradient(top, #a5df41, #4ca916);
    background-image: linear-gradient(top, #a5df41, #4ca916);
}

/*---------------------------*/

.stripes span {
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;
    background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
    color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
    to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
    transparent 75%, transparent);

    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}

@-webkit-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}


@-moz-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

/*---------------------------*/

.shine span {
    position: relative;
}

.shine span::after {
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-animation: animate-shine 2s ease-out infinite;
    -moz-animation: animate-shine 2s ease-out infinite;
}

@-webkit-keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
}


@-moz-keyframes animate-shine {
    0% {opacity: 0; width: 0;}
    50% {opacity: .5;}
    100% {opacity: 0; width: 95%;}
}

/*---------------------------*/

.glow span {
    -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
    -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;
    box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;

    -webkit-animation: animate-glow 1s ease-out infinite;
    -moz-animation: animate-glow 1s ease-out infinite;
}

@-webkit-keyframes animate-glow {
    0% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
    50% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;}
    100% { -webkit-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
}

@-moz-keyframes animate-glow {
    0% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
    50% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .3) inset, 0 -5px 5px rgba(255, 255, 255, .3) inset;}
    100% { -moz-box-shadow: 0 5px 5px rgba(255, 255, 255, .7) inset, 0 -5px 5px rgba(255, 255, 255, .7) inset;}
}

/*
BLINK
*/

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.blink {
    animation: blink 1.5s ease-in 0s infinite;
    -webkit-animation: blink 1.5s ease-in 0s infinite;
}
