*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 512px;
    height: 512px;
    background: url(gfx/clouds.png);
    background-size: cover;
    overflow: hidden;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

#pinkie {
    position: absolute;
    width: 140px;
    height: 126px;
    top: 276px;
    left: 64px;
    background: url(gfx/pie-dash.gif);
}

#pinkie.jumping {
    background: url(gfx/pie-jump.gif) !important;
}

#pinkie.gameover {
    background: url(gfx/pie-oops.gif) !important;
}

.ground {
    position: absolute;
    width: 3840px;
    height: 256px;
    top: 384px;
    left: -128px;
    background: url(gfx/map.png);
}

.hater {
    position: absolute;
    width: 150px;
    height: 113px;
    left: -512px;
    background: url(gfx/trollface.gif);
}

.coin {
    position: absolute;
    width: 128px;
    height: 128px;
    left: -512px;
    background: url(gfx/coin.gif);
}

#clock {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 0px;
    right: 0px;
}

#face {
    width: 70px;
    height: 70px;
    position: absolute;
    right: -5px;
    top: 20px;
}

/*
LENNE
*/

#face.lenne {
    background: url('gfx/lenne.png') no-repeat 0 0 / contain;
}

.jumping #face.lenne {
    top: 0;
    right: 0;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

.gameover #face.lenne {
    top: 10px;
    right: 10px;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

/*
NORDIN
*/


#face.nordin {
    background: url('gfx/lenne.png') no-repeat 0 0 / contain;
}

.jumping #face.nordin {
    top: 0;
    right: 0;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

.gameover #face.nordin {
    top: 10px;
    right: 10px;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

/*
DAVY
*/

#face.davy {
    background: url('gfx/lenne.png') no-repeat 0 0 / contain;
}

.jumping #face.davy {
    top: 0;
    right: 0;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

.gameover #face.davy {
    top: 10px;
    right: 10px;
    background: url('gfx/lenne-jumping.png') no-repeat 0 0 / contain;
}

/*
CHARACTER SELECTION
*/

.character-selection-title {
    text-align: center;
    color: #fff;
    margin: 20px 0 40px;
}

.column-3 {
    float: left;
    width: 33.33%;
}

.character {
    background-color: red;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.character:hover {
    border: 5px solid pink;
}

.character-image {
    width: 60%;
    display: block;
    margin: auto;
}

.overlay {
    background-color: #000;
    opacity: 0.85;
    z-index: 1;
}

.overlay-lg {
    width: 70%;
    max-width: 1200px;
    height: 70%;
    max-height: 800px;
}

.overlay-centered {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hidden {
    display: none;
}